@import "tailwindcss";

:root {
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI",
    var(--font-inter), "Helvetica Neue", sans-serif;
}

.font-system {
  font-family: var(--font-system);
}
